.chat-main
  .group-info
    .group-info__items
      .group-info__items__group-name
        test
      .group-info__items__users
        Meber : masa
    .group-info__edit
      =link_to "#", class: "group-info__edit__btn" do
        Edit
  .message-list
    .message-list__box
      .message-list__box__user
        .message-list__box__user__name
          masa
        .message-list__box__user__time
          2019/11/20(wed) 17:43:01
      .message-list__box__message
        おはよう！
    .message-list__box
      .message-list__box__user
        .message-list__box__user__name
          masa
        .message-list__box__user__time
          2019/11/20(wed) 17:43:34
      .message-list__box__message
        今日は夜から雨
  .message-form