.chat-main
  .group-info
    .group-info__items
      .group-info__items__group-name
        test
      .group-info__items__users
        Meber : masa
    .group-info__edit
      =link_to "#", class: "group-info__edit__btn" do
        Edit
  .message-list
  .message-form