.side-bar
  .side-header
    .side-header__items
      .side-header__items__name
        masa
      %ul.side-header__items__menu
        %li.side-header__items__edit
          = link_to "#" do
            = icon('fas','edit')
        %li.side-header__items__config
          = link_to "#" do
            = icon('fa', 'cog')
  .group-list
    .group-list__group-name
      techcamp
    .group-list__message
      まだメッセージがありません
    .group-list__group-name
      2
    .group-list__message
      まだメッセージがありません