// 文字色
$moji_white:#ffffff;
$moji_black:#333333;
$moji_gray:#999999;

*{
  box-sizing: border-box;
}
.wrapper{
  display: flex;
}

  .side-bar{
    width: 300px;
    border-bottom: 1px solid #eeeeee;
    background-color: #2f3e51;
  }
    .side-header{
      background-color: #253141;
      height: 100px;
      font-size: 16px;
      font-weight: bold;
      color: $moji_white;
      font-weight: bold;
      display: flex;
      align-items: center;
      &__items{
        height: 20px;
        width: 260px;
        margin: 0px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__menu{
          width: 60px;
          display: flex;
          justify-content: flex-end;
          li{
            a{
              font-size: 16px;
              color: $moji_white;
            }
          }
        }
        &__edit-btn{
          margin-right: 5px;
        }
      }
    }

    .group-list{
      background-color: #2f3e51;
      height: calc(100vh - 100px);
      overflow: auto;
      padding-top: 20px;
      &__box{
        a{
          text-decoration: none;
          color: $moji_white;
        }
        &__group-name{
          font-size: 15px;
          margin: 0px 20px 5px 20px;
        }
        &__message{
          font-size: 11px;
          margin: 0px 20px 40px 20px;
        }
      }
    }

  .chat-main{
    width: calc(100vw - 300px);
  }
    .group-info{
      background-color: #ffffff;
      height: 100px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #eeeeee;
      &__items{
        &__group-name{
          color:$moji_black;
          font-size: 20px;
          margin: 35px 0px 15px 40px;
        }
        &__users{
          color: $moji_gray;
          font-size: 12px;
          margin-left: 40px;
        }
      }
      &__edit-btn{
        font-size: 16px;
        width: 72px;
        height: 40px;
        padding: 0px 20px;
        margin: 28px 40px 32px 0px;
        border: 1px solid #38aef0;
        display: flex;
        align-items: center;
        &__text{
          text-decoration: none;
          color: #38aef0;
        }
      }
    }

  .message-list{
    background-color: #fafafa;
    height: calc(100vh - 190px);
    padding-top: 35px;
    overflow: auto;
    &__box{
      margin: 0px 0px 46px 40px;
      &__user{
        display: flex;
        align-items: center;
        &__name{
          font-size: 16px;
          font-weight: bold;
          margin-right: 10px;
          color: $moji_black;
        }
        &__time{
          font-size: 12px;
          color: $moji_gray;
        }
      }
      &__message{
        color: #434A54;
        font-size: 14px;
        margin-top: 12px;
      }
    }
  }

  .form{
    height: 90px;
    background-color: #dddddd;
    box-sizing: border-box;
    padding: 20px 50px 20px 40px;

    form{
      display: flex;
      justify-content: space-between;
      .input-box{
        display: flex;
        position: relative;
        width: 100%;
        &__text{
          height: 50px;
          width: 100%;
          color: #434a54;
          border-style: none;
          padding: 0 45px 0 15px;
        }
        &__image{
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          font-size: 1.3rem;
          &__file{
            display: none;
          }
        }
      }
      .fa-image{
        font-size: 25px;
      }
      .submit-btn{
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: #38aef0;
        color: $moji_white;
        cursor: pointer;
        border: none;
      }
    }
  }